html #nprogress {
    .bar {
        background-color: var(--primary);
    }
}

.more-action {
    width: 28px;
    height: 24px;
    display: flex;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    color: var(--primary);
    justify-content: center;

    &:hover {
        background-color: var(--gray-3);
    }

    span {
        transform: translateY(-3px);
    }

}

.ant-menu {
    .ant-menu-sub {
        background-color: transparent !important;
    }

    .ant-menu-submenu {

        &.ant-menu-submenu-selected {

            .ant-menu-submenu-title {
                font-weight: 600;
            }

            .ant-menu-item-icon {

                circle,
                rect,
                ellipse,
                path {
                    stroke: var(--primary);
                }
            }
        }
    }

    .ant-menu-item {
        &.ant-menu-item-selected {
            .ant-menu-title-content {
                font-weight: 600;
            }

            .ant-menu-item-icon {

                rect,
                path,
                circle,
                ellipse {
                    stroke: var(--primary);
                }
            }
        }

    }
}

.ant {
    &-table-cell {
        white-space: nowrap;
        padding: 10px 24px !important;
    }

    &-btn {
        display: flex;
        font-weight: 600;
    }
}